<div class="body-container index">
  <div class="entry entry-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="entry__title">A passion to perform</h1>
          <p class="entry__subtitle">
            Other banks promise great service.<br />
            We are guarantee it.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="how-it-works  section">
  <div class="container">
    <div class="row">
      <h2 class="section__title">WE MADE IT EASY FOR YOU</h2>
      <p class="section__subtitle">How it works</p>
      <ul class="how-it-works__list">
        <li class="how-it-works__item  how-it-works__item--1">
          <h3 class="how-it-works__item-title">Online</h3>
          <p class="how-it-works__item-desc">
            Apply online. All you need to do is fill out a short form. You only
            need a few minutes to do this.
          </p>
        </li>
        <li class="how-it-works__item  how-it-works__item--2">
          <h3 class="how-it-works__item-title">Fast</h3>
          <p class="how-it-works__item-desc">
            Get confirmation. The decision to grant a loan will be made
            immediately after you fill out the application.
          </p>
        </li>
        <li class="how-it-works__item  how-it-works__item--check">
          <h3 class="how-it-works__item-title">Transparent</h3>
          <p class="how-it-works__item-desc">
            Get the money. Funds will be credited to your card within a few
            minutes after processing the application.
          </p>
        </li>
      </ul>
      <a
        href="https://2_icashloans_com.lmwebsites.net/Form"
        class="how-it-works__link  btn-orange"
        >Get offer</a
      >
    </div>
  </div>
  <svg class="how-it-works__dots">
    <use
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xlink:href="#icon-dots"
    ></use>
  </svg>
</section>

<section class="features section">
  <div class="container">
    <h2 class="section__title  section__title--colored-grey">Features</h2>
    <p
      class="section__subtitle  section__subtitle--dark-blue  section__subtitle--features"
    >
      Our advantages
    </p>
    <ul class="features__list">
      <li class="features__item">
        <svg class="features__icon  features__icon--secure">
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="#icon-secure"
          ></use>
        </svg>
        <h3 class="features__title">Safe &amp; secure</h3>
      </li>
      <li class="features__item">
        <svg class="features__icon  features__icon--clock">
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="#icon-clock"
          ></use>
        </svg>
        <h3 class="features__title">Fast lender-approval</h3>
      </li>
      <li class="features__item">
        <svg class="features__icon  features__icon--monitor">
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="#icon-monitor"
          ></use>
        </svg>
        <h3 class="features__title">Submit online</h3>
      </li>
    </ul>
  </div>
</section>

<section class="approach section">
  <div class="container">
    <h2 class="section__title  section__title--colored-grey">Our Approach</h2>
    <p class="section__subtitle  section__subtitle--dark-blue">
      Information about the company
    </p>
    <div class="approach__articles">
      <article class="approach__article">
        <picture class="approach__article-image">
          <source
            srcset="../assets/connect.jpg 1x, ../assets/connect@2x.jpg 2x"
          />
          <img
            src="./ICashLoans.com - Personal Loans (Official Site)_files/connect.jpg"
            alt=""
          />
        </picture>
        <div class="approach__article-content">
          <h3 class="approach__article-title">
            Fast and safe loan provision
          </h3>
          <p>
            You will see for yourself that getting a loan is very simple: our
            services are available online in real time. Now it’s not the bank,
            but you decide how much to borrow and for how long.
          </p>
          <svg class="approach__article-icon">
            <use
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xlink:href="#icon-dots-orange"
            ></use>
          </svg>
        </div>
      </article>
      <article class="approach__article">
        <picture class="approach__article-image">
          <source srcset="../assets/speed.jpg 1x, ../assets/speed@2x.jpg 2x" />
          <img
            src="./ICashLoans.com - Personal Loans (Official Site)_files/speed.jpg"
            alt=""
          />
        </picture>
        <div class="approach__article-content">
          <h3 class="approach__article-title">Transparent online loans</h3>
          <p>
            We give the client comprehensive information about the full amount
            to be paid to repay the loan.
          </p>
          <p>
            Working absolutely openly, without any hidden fees, we approach
            lending extremely responsibly and expect the same from our
            customers.
          </p>
          <svg class="approach__article-icon  approach__article-icon--speed">
            <use
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xlink:href="#icon-dots"
            ></use>
          </svg>
        </div>
      </article>
      <article class="approach__article">
        <picture class="approach__article-image">
          <source srcset="../assets/loan.jpg 1x, ../assets/loan@2x.jpg 2x" />
          <img
            src="./ICashLoans.com - Personal Loans (Official Site)_files/loan.jpg"
            alt=""
          />
        </picture>
        <div class="approach__article-content">
          <h3 class="approach__article-title">Your loan, your business</h3>
          <p>
            Your time is a highly valuable resource, and therefore we strive to
            make the process of providing a loan as simple as possible.
          </p>
          <svg class="approach__article-icon  approach__article-icon--loan">
            <use
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xlink:href="#icon-dots-orange"
            ></use>
          </svg>
        </div>
      </article>
    </div>
  </div>
</section>

<section class="speedy-form section">
  <div class="container">
    <h2 class="section__title  section__title--colored-grey">Speedy form</h2>
    <p class="section__subtitle  section__subtitle--speedy-form">
      Ready to get started
    </p>

    <form
      [ngClass]="{ 'not-visible': success || error }"
      class="apply-now speedy-form__wrapper"
      id="ApplyNow"
      [formGroup]="dataForm"
    >
      <b class="speedy-form__title">Select amount</b>
      <ul class="speedy-form__list-inputs">
        <li class="speedy-form__item">
          <input
            type="radio"
            name="RequestedAmount"
            value="250"
            class="speedy-form__radio-input visually-hidden"
            id="RequestedAmount1"
            formControlName="RequestedAmount"
          />
          <label class="speedy-form__label-input" for="RequestedAmount1">
            <span class="speedy-form__input-title">$250</span>
          </label>
        </li>
        <li class="speedy-form__item">
          <input
            type="radio"
            name="RequestedAmount"
            value="500"
            class="speedy-form__radio-input visually-hidden"
            id="RequestedAmount2"
            formControlName="RequestedAmount"
          />
          <label class="speedy-form__label-input" for="RequestedAmount2">
            <span class="speedy-form__input-title">$500</span>
          </label>
        </li>
        <li class="speedy-form__item">
          <input
            type="radio"
            name="RequestedAmount"
            value="750"
            class="speedy-form__radio-input visually-hidden"
            id="RequestedAmount3"
            formControlName="RequestedAmount"
          />
          <label class="speedy-form__label-input" for="RequestedAmount3">
            <span class="speedy-form__input-title">$750</span>
          </label>
        </li>
        <li class="speedy-form__item">
          <input
            type="radio"
            name="RequestedAmount"
            value="1000"
            class="speedy-form__radio-input visually-hidden"
            id="RequestedAmount4"
            formControlName="RequestedAmount"
          />
          <label class="speedy-form__label-input" for="RequestedAmount4">
            <span class="speedy-form__input-title">$1,000</span>
          </label>
        </li>
      </ul>

      <b class="speedy-form__title">Enter your monthly income</b>
      <input
        type="number"
        name="income"
        id="income"
        placeholder="Monthly income"
        class="speedy-form__input"
        formControlName="income"
      />
      <b class="speedy-form__title">Enter your name</b>
      <input
        type="name"
        name="name"
        id="Name"
        placeholder="Name"
        class="speedy-form__input"
        formControlName="name"
      />
      <span class="speedy-form__input-error-info"
        >Please enter a valid email address.</span
      >
      <b class="speedy-form__title">Enter your phone</b>
      <input
        type="phone"
        name="Phone"
        id="Phone"
        placeholder="Phone"
        class="speedy-form__input"
        formControlName="phone"
      />
      <b class="speedy-form__title">Enter your email</b>
      <input
        type="email"
        name="Email"
        id="Email"
        placeholder="Email"
        class="speedy-form__input"
        formControlName="email"
      />
      <button
        (click)="sendRequest()"
        target="_blank"
        class="btn-cash speedy-form__btn-submit btn-orange"
      >
        Contact me
      </button>
    </form>
  </div>
  <div class="container success" *ngIf="success">
    YAY! You can have your loan and our managers will contact you soon
  </div>
  <div class="container error" *ngIf="error">
    Sorry, we can’t give you a loan
  </div>
  <svg class="speedy-form__icon  speedy-form__icon--dollar">
    <use
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xlink:href="#icon-dollar"
    ></use>
  </svg>
  <svg class="speedy-form__icon  speedy-form__icon--dollar-round">
    <use
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xlink:href="#icon-dollar-round"
    ></use>
  </svg>
  <svg class="speedy-form__icon  speedy-form__icon--dots-orange">
    <use
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xlink:href="#icon-dots-orange"
    ></use>
  </svg>
</section>

<section class="contacts section">
  <div class="container">
    <article class="contacts__container contacts__faq">
      <h3 class="contacts__title">Questions and answers</h3>
      <ul class="contacts__list  contacts__list--faq">
        <li class="contacts__item">
          <a
            href="https://2_icashloans_com.lmwebsites.net/Questions#link1"
            class="contacts__link"
            >What is a personal loan?</a
          >
        </li>
        <li class="contacts__item">
          <a
            href="https://2_icashloans_com.lmwebsites.net/Questions#link3"
            class="contacts__link"
            >How much can I borrow?</a
          >
        </li>
        <li class="contacts__item">
          <a
            href="https://2_icashloans_com.lmwebsites.net/Questions#link6"
            class="contacts__link"
            >How long does the process take?</a
          >
        </li>
        <li class="contacts__item">
          <a
            href="https://2_icashloans_com.lmwebsites.net/Questions#link11"
            class="contacts__link"
            >What happens if I’m late with a payment?</a
          >
        </li>
      </ul>
    </article>
    <article class="contacts__container contacts__info">
      <h3 class="contacts__title">Contact Info</h3>
      <ul class="contacts__list  contacts__list--info">
        <li class="contacts__item  contacts__item--phone">866-971-7538</li>
        <li class="contacts__item  contacts__item--card">iloans.space</li>
        <li class="contacts__item  contacts__item--geo">
          Springates Building, Lower Government Road Charlestown, Nevis, Saint
          Kitts And Nevis
        </li>
      </ul>
    </article>
  </div>
  <svg class="contacts__icon  contacts__icon--dollar-round">
    <use
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xlink:href="#icon-dollar-round"
    ></use>
  </svg>
  <svg class="contacts__icon  contacts__icon--dots">
    <use
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xlink:href="#icon-dots"
    ></use>
  </svg>
  <svg class="contacts__icon  contacts__icon--dollar">
    <use
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xlink:href="#icon-dollar"
    ></use>
  </svg>
</section>

<div class="footer">
  <div class="footer-copyright">
    <div class="container">
      <p>© 2019 iloans.space. All Rights Reserved.</p>
      <svg class="footer-copyright-icon">
        <use
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xlink:href="#icon-dots-orange"
        ></use>
      </svg>
    </div>
  </div>

  <div class="footer__disclaimer">
    <div class="container">
      <p>
        <strong>Important Disclosures. Please Read Carefully.</strong>
      </p>
      <p>
        By submitting your information via this website, you are authorizing to
        do a credit check, which may include verifying your social security
        number, driver license number or other identification, and a review of
        your creditworthiness. Credit checks are usually performed by one of the
        major credit bureaus. You also authorize to share your information and
        credit history with a network of approved lenders and lending partners.
      </p>
      <p><strong>Lender’s Disclosure of Terms.</strong></p>
      <p>
        The lender you are connected to will provide documents that contain all
        fees and rate information pertaining to the loan being offered,
        including any potential fees for late-payments and the rules under which
        you may be allowed (if permitted by applicable law) to refinance, renew
        or rollover your loan. Loan fees and interest rates are determined
        solely by the lender based on the lender’s internal policies,
        underwriting criteria and applicable law. iloans.space has no knowledge
        of or control over the loan terms offered by a lender. You are urged to
        read and understand the terms of any loan offered by any lender, whether
        tribal or state-licensed, and to reject any particular loan offer that
        you cannot afford to repay or that includes terms that are not
        acceptable to you.
      </p>
      <p><strong>Late Payments Hurt Your Credit Score</strong></p>
      <p>
        Please be aware that missing a payment or making a late payment can
        negatively impact your credit score. To protect yourself and your credit
        history, make sure you only accept loan terms that you can afford to
        repay. If you cannot make a payment on time, you should contact your
        lender immediately and discuss how to handle late.
      </p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
